.entry-form{
    background-color: white;
    border-color: black;
    border-style: solid !important;
    border: 5px;
    position: relative;
    width: 40%;
    height: 300px;
    left: 30%;
    top: 100px;
    font-size: 25px;
}