.entry-form{
    display: inline-block;
    background-color: gray;
    border-color: black;
    border-style: solid !important;
    border: 5px;
    position: relative;
    width: 400px;
    height: 380px;
    margin: 10px;
    left: 10px;
    font-size: 25px;
}

body {  
    font-size: 14px;    
}
/* responsive, form small screens, use 13px font size */
@media (max-width: 479px) {
    .entry-form{
        background-color: white;
        border-color: black;
        border-style: solid !important;
        border: 5px;
        position: relative;
        width: 40%;
        height: 320px;
        left: 1%;
        margin: 2px;
        font-size: 25px;
        min-width: 400px;
    }
}

